flows.json
[{"id":"acede7b1.4b7b28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"36becf06.c3e93","type":"ui_form","z":"acede7b1.4b7b28","name":"","label":"Fill the following about the car","group":"abd3745a.e27f98","order":1,"width":0,"height":0,"options":[{"label":"year","value":"year","type":"number","required":true,"rows":null},{"label":"manufacturer","value":"manufacturer","type":"text","required":true,"rows":null},{"label":"model","value":"model","type":"text","required":true,"rows":null},{"label":"condition","value":"condition","type":"text","required":true,"rows":null},{"label":"cylinders","value":"cylinders","type":"text","required":true,"rows":null},{"label":"fuel","value":"fuel","type":"text","required":true,"rows":null},{"label":"odometer","value":"odometer","type":"number","required":true,"rows":null},{"label":"transmission","value":"transmission","type":"text","required":true,"rows":null},{"label":"drive","value":"drive","type":"text","required":true,"rows":null},{"label":"size","value":"size","type":"text","required":true,"rows":null},{"label":"type","value":"type","type":"text","required":true,"rows":null},{"label":"paint_color","value":"paint_color","type":"text","required":true,"rows":null}],"formValue":{"year":"","manufacturer":"","model":"","condition":"","cylinders":"","fuel":"","odometer":"","transmission":"","drive":"","size":"","type":"","paint_color":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":440,"wires":[["e50d84b.9c03478"]]},{"id":"e50d84b.9c03478","type":"function","z":"acede7b1.4b7b28","name":"PreToken","func":"global.set(\"year\",msg.payload.year)\nglobal.set(\"manufacturer\",msg.payload.manufacturer)\nglobal.set(\"model\",msg.payload.model)\nglobal.set(\"condition\",msg.payload.condition)\nglobal.set(\"cylinders\",msg.payload.cylinders)\nglobal.set(\"fuel\",msg.payload.fuel)\nglobal.set(\"odometer\",msg.payload.odometer)\nglobal.set(\"transmission\",msg.payload.transmission)\nglobal.set(\"drive\",msg.payload.drive)\nglobal.set(\"size\",msg.payload.size)\nglobal.set(\"type\",msg.payload.type)\nglobal.set(\"paint_color\",msg.payload.paint_color)\nvar apikey=\"rpB5biFBT53rTzRFpSRJPLaKR_kcROx-H7d_woQUe-vz\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":240,"wires":[["8473437.81989c"]]},{"id":"8473437.81989c","type":"http request","z":"acede7b1.4b7b28","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":100,"wires":[["8e16aacb.44f908"]]},{"id":"51ca49c7.1ea168","type":"debug","z":"acede7b1.4b7b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":280,"wires":[]},{"id":"8e16aacb.44f908","type":"function","z":"acede7b1.4b7b28","name":"Pre Prediction","func":"var year = global.get(\"year\")\nvar manufacturer = global.get(\"manufacturer\")\nvar model = global.get(\"model\")\nvar condition = global.get(\"condition\")\nvar cylinders = global.get(\"cylinders\")\nvar fuel = global.get(\"fuel\")\nvar odometer = global.get(\"odometer\")\nvar transmission = global.get(\"transmission\")\nvar drive = global.get(\"drive\")\nvar size = global.get(\"size\")\nvar type = global.get(\"type\")\nvar paint_color = global.get(\"paint_color\")\nvar token=msg.payload.access_token\nvar instance_id=\"79b46257-cc9d-42f9-a521-c856acf295b4\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"year\", \"manufacturer\", \"model\", \"condition\", \"cylinders\", \"fuel\", \"odometer\", \"transmission\", \"drive\", \"size\", \"type\", \"paint_color\"], \"values\": [[year, manufacturer, model, condition, cylinders, fuel, odometer, transmission, drive, size, type, paint_color]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["3fc2dbc0.fceb24"]]},{"id":"3fc2dbc0.fceb24","type":"http request","z":"acede7b1.4b7b28","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/612bcb94-c1f9-45a8-9411-a592d75ea238/predictions","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":180,"wires":[["d786c7ea.65ab38","51ca49c7.1ea168"]]},{"id":"5619163b.5f4a78","type":"ui_text","z":"acede7b1.4b7b28","group":"abd3745a.e27f98","order":2,"width":0,"height":0,"name":"","label":"Price","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":40,"wires":[]},{"id":"d786c7ea.65ab38","type":"function","z":"acede7b1.4b7b28","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":80,"wires":[["5619163b.5f4a78"]]},{"id":"abd3745a.e27f98","type":"ui_group","z":"","name":"Resale value Prediction","tab":"545c47d2.8f2a08","order":1,"disp":true,"width":"6","collapse":false},{"id":"545c47d2.8f2a08","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]